@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'),
    url('./assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@media only screen and (min-width: 768px) {
  .about {
    width: 50vw;
  }
}

.section {
  height: 100vh !important;
  background-color: rgba(30, 33, 40, 1) !important;
}

.center {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  background-color: rgba(30, 33, 40, 1) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.backdrop {
  height: 100%;
  background-image: url('./assets/bg.png');
  background-position: bottom;
  background-size: cover;
}

.glassMorph {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(400px);
  -webkit-backdrop-filter: blur(400px);
}
